*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.header{
    min-height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(good.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;/*for space in btw*/
    align-items: center;
    
}

nav img{
    width: 70px;
    height: 70px;
    margin-top: 2px;
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-top: 2px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(220, 179, 67);
    text-decoration: none;
    font-size: 13px; 
}

.nav-links ul li a:hover{
    color: #fff;    
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(220, 179, 67);
    display: block;
    margin: auto;
    transition: 0.5s;
    font: #fff;
}

.nav-links ul li:hover::after{
    width: 100%;       
}


.loginbtn{
    background-color: rgb(220, 179, 67);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: #fff;
    color:rgb(220, 179, 67);
    width: 160px;
    display: flex;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px; 
}

.col-1{
    color: rgb(220, 179, 67);
}

.col-1 h1{
    font-size: 60px;
}

.col-1 p{
    font-size: 20px;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(rgb(220, 179, 67), rgb(192, 166, 96));
    position: absolute;
    left: -40px;
    top: 8px;
}



.col-2{
    width: 50%;
    height: 60%;
    background: transparent;
    padding: 0px;
    margin: 8% auto 0;
    border-radius: 10px;
    text-align: right;
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: left;
    color: rgb(220, 179, 67);
}

.sign-up-form{
    width: 300px;
    height: 50%;
    background: transparent;
    padding:20px;
    margin: 8% auto 0;
    text-align: center;
    border: 2px solid rgb(220, 179, 67);
    border-radius: 20px;

}

.sign-up-form h1{
    color: rgb(220, 179, 67);
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width:85%;
    border: 1px solid rgb(107, 107, 107);
    outline: none;
    background: transparent;
}  

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn{
    background-color: rgb(220, 179, 67);   
    color: #fff;  
}

.signup-btn:hover{
    color: rgb(220, 179, 67);
    background-color: #fff;
}

.google-btn{
    background-color: #1c8adb;
}

.google-btn:hover{
    background-color: #5bb7f8;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width: 80%;
    margin-left: 30px;
}

.or{
    background: transparent;
    width: 30px;
    margin: 5px auto 10px;

}

img{
    width: 90px;
    margin-top: -60px;
}

.menu-icon{
    display: none;
}

@media(max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(rgb(10, 10, 10), rgb(10, 10, 10));
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color:#fff;
    }

    .menu-icon{
        display: block;
        width: 40px;
        height: 40px;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column;
        margin: 50px 0;
    }

    .col-2{
        width: 90%;
        height: 60%;
        background: transparent;
        padding: 0px;
        margin: 15% auto 0;
        border-radius: 10px;
        text-align: right;
        position: relative;
        flex-basis: 50%;
        display: flex;
        align-items: left;
        color: rgb(220, 179, 67); 

    }

    .col-1{
        flex-basis: 100%;
        text-align: center;
        margin: 12% auto 0;
    }

    .col-1 h1{
        font-size: 35px;
    }

    .col-1 p{
        margin: 4% auto 0;
        font-size: 15px;
        padding: 10px;
    }
}
